<div class="well error-background">
	<!-- <h4><%#= pluralize @wiki.errors.count, "error" %> prohibited this wiki from being saved:</h4> -->
  <h4><%= pluralize object.errors.count, "error" %></h4>
	<% object.errors.full_messages.each do |msg| %>
	<ul>
		<li><%= msg %></li>
	</ul>
	<% end %>
</div>
