
<div class="jumbotron">
  <h1>Codes</h1>
  <p>Codes is a coding app for taking notes and informations for web development.</p>
  <p>Here you can record special notes and other important informations that you want to recall quickly when you're creating your next app.</p>
  <%= link_to "Learn more", about_path, class: "btn btn-md btn-primary" %>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Learn to code</h2>
    <p>Learn to code by learning and mastering the basics.</p>
  </div>
  <div class="col-md-4">
    <h2>How to remember what you learned?</h2>
    <p>You will remember better when you practice, practice and practice. Repeatition is the key!</p>
  </div>
  <div class="col-md-4">
    <h2>How can you move to the next level?</h2>
    <p>You will need to create apps. Create simple apps then progress to more complex ones.</p>
  </div>
</div>
