<div class="well">
  <h4><%= image.title %></h4>
  <%= image_tag(image.content.url(image.size)) %><br>
  <%#= image_tag(image.content.url(:small)) %>
  <%#= image_tag(image.content.url(:medium)) %>
  <%#= image_tag(image.content.url(:large)) %>
  <%#= image_tag(image.content.url(:xlarge)) %>
  <%#= image_tag(image.content.url(:original)) %>
</div>
