/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 .navbar.navbar-inverse {  // thickens the navbar at the top
   padding-top: 10px;
 }

 .for-aplication {  // lowers layouts/application so the flash_message can be seen
   margin-top: 75px;
 }

 body {
    padding-bottom: 100px; // Adding whitespace at bottom of HTML page
}

.active a {  // sidebar
  background-color: #6a7e8c !important;
  color: white !important;
  font-size: 1.2em !important;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1.5px;
}

.hline { margin-top:30px; margin-bottom:10px; width:100%; height:2px; style:dashed; background: gray;}
